@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-[#F8F5E4] text-foreground;
  }
}

@layer utilities {
  .rotate-270 {
    transform: rotate(270deg);
  }
}
